
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --color-primario: #f3f5fc;
    --color-secundario: #0a3871;
    --color-terciario: #495057;
    --color-hover: #7d94b3;
    --color-hover-footer: #50d2f2;
    --color-fondo-encriptado: #fff;
    

    --fuente-inter: "Inter", sans-serif;
}


*{
    margin: 0;
    padding: 0;
}
.body{
    
    background-color: var(--color-primario);
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

}
.header{
    display: flex;
    height: 15%;
    width:100vw;
    background-color: var(--color-primario);

}

.logo{
    padding: 2% 0% 0% 4%;
    left: 12%;
    background-color:var(--color-primario);
}


.contenedor{
    width: 100vw;
    position: relative;
    height: 100vh;
    background-color:var(--color-primario);
}


.texto{
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    position: absolute;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    border: none;
    background-color:var(--color-primario);
    font-style: normal;
    font-weight: 400;

}

.texto::placeholder{
    color: var(--color-secundario);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
}

.texto:focus,
.texto:active{

    border: none;
    outline: none;
}


.condiciones{
   
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.condiciones p {
    color: var(--color-terciario);
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.5;
    flex: none;
    order: 1;
    flex-grow: 0;


}

.botones{
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%
}

.boton_encriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: var(--color-secundario);
    color: white;
    font-size: 16px;
    border-radius: 24px;
    text-align: center;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.boton_desencriptar{
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #d8dfe8;
    color: var(--color-secundario);
    font-size: 16px;
    border-radius: 24px;
    text-align: center;
    border: 1px solid var(--color-secundario);
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
.boton_copiar{
    padding: 2%;
    gap: 8px;
    width: 25%;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    border-radius: 16px;
    background-color: var(--color-primario);
    border: 1px solid var(--color-secundario);
}

.boton_copiar:hover{

    background-color: #7d94b3;
    
}

.boton_encriptar:hover,
.boton_desencriptar:hover{

    background-color: var(--color-hover);;
    color: var(--color-secundario);
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
  
}

.encriptado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top:5%;
    background: var(--color-fondo-encriptado);
    border-radius: 32px;

}

.texto-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 15px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.texto-encriptado h2 {
    padding: 8% 0% 0% 0%;
    width: 60%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color:#495057;
    text-align: center;

}

.texto-encriptado p{
    width: 80%;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(142, 143, 142, 0.667)40;
    text-align: center;
}

.encriptado img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
    left: 10%;
    align-items: center;
    justify-content: center;
    padding: 0%
}


.footer{

    background-color: var(--color-secundario);
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.enlace_alura{

    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 5px;
    text-decoration: none;
}

.enlace_alura:hover{
    font-family: "Inter", sans-serif;
    color: var(--color-hover-footer);
    font-size: 18px;

}

@media (max-width: 1200px){

    .header{

        width: auto;

    }
    .contenedor{
        display: flex;
        flex-direction: row;
    }

    .encriptador{

        width: 100%;

    }

    .texto{
        width: 80%;
        height: 55%;
        left: 10%;
        top: 5%;
        font-size: 24px;
        font-weight: 400;
    }

    .texto::placeholder{
        width: 80%;
        height: 55%;
        left: 10%;
        top: 5%;
        font-size: 24px;
        font-weight: 600;
    }

    .condiciones{
        width: 80%;
        left: 10%;
        top: 62%;
    }

    .botones{
        width: 90%;
        left: 10%;
        top: 64%;
        display: flex;
        flex-direction: column;
            
    }

    .boton_encriptar,
    .boton_desencriptar{
        width: 90%;
        border-radius: 16px;
        font-size: 16px;
        font-weight: 600;
        height: 45px;
    }
    

    .boton_encriptar:hover,
    .boton_desencriptar:hover{

    font-size: 17px;
    font-weight: 600;
    box-sizing: border-box;
    border-radius: 14px;
    margin: 0.3%;
  
}

    .encriptado{
        width: 90%;
        left: 5%;
        top: 80%;
        height: 186px;
        bottom: 2%;
    }

    .texto-encriptado{
        padding: 0%;
        width: 90%;
        top: 0%;
        justify-content: center;
        left: 5%;
        
    }

    .texto-encriptado h2{

        display: flex;
        justify-content: center;
        width: 90%;
        font-size: 16px;
    }

    .texto-encriptado p{
        display: flex;
        justify-content: center;
        width: 90%;
        font-size: 15px;
    }

    .encriptado img{
        top: 0;
        display: none;
        visibility: hidden;
    }

    .footer{
       
        display: none;
        
    }

}
